<html>
<body>
    <h1>Login</h1>
    {%if error %}
    <p><strong>Error:</strong> {{error}}
    {% endif %}
    <form action="" method="post">
    <d1>
        <dt>Username :</dt>
        <dd>
            <input type="text" name="username" value="{{request.form.username}}"/>
        </dd>
        <dt>Password :</dt>
        <dd>
            <input type="text" name="password" value="{{request.form.password}}"/>
        </dd>
    </d1>    
    <p><input type="submit" value="submit"></p>
    </form>
</body>
</html>.
